<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-col">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
      </h1>
    </div>
  </header>
  <section class="sheet-body">
    <div class="flexrow">
      <div class="stats">
        <div class="form-group">
          <label>{{localize 'OSE.items.ArmorAC'}}</label>
          <div class="form-fields">
            <input type="text" name="data.ac.value" value="{{data.ac.value}}" data-dtype="Number" />
          </div>
        </div>
        <div class="form-group">
          <label>{{localize 'OSE.items.ArmorAAC'}}</label>
          <div class="form-fields">
            <input type="text" name="data.aac.value" value="{{data.aac.value}}" data-dtype="Number" />
          </div>
        </div>
        <div class="form-group">
          <label>{{localize 'OSE.armor.type'}}</label>
          <div class="form-fields">
            <select name="data.type">
              {{#select data.type}}
              <option value=""></option>
              {{#each config.armor as |armor a|}}
              <option value="{{a}}">{{armor}}</option>
              {{/each}}
              {{/select}}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label>{{localize 'OSE.items.Cost'}}</label>
          <div class="form-fields">
            <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number" />
          </div>
        </div>
        <div class="form-group">
          <label>{{localize 'OSE.items.Weight'}}</label>
          <div class="form-fields">
            <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number" />
          </div>
        </div>
      </div>
      <div class="description">
        {{editor content=data.description target="data.description" button=true
        owner=owner editable=editable}}
      </div>
    </div>
  </section>
</form>
